@import "@/assets/styles/fonts.css";
@import "@/assets/styles/variables.css";
@import "@/assets/styles/scrollbar.css";
@import "@/assets/styles/animations.css";
@import "@/assets/styles/overrside-ant-design.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: overlay;
  color: var(--text-color);
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--theme-light-background-color);
  color: var(--text-dark-color);
  /* background-color: var(--background-color); */
}

body.darken {
  background-color: var(--theme-dark-background-color);
  color: #fff;
}

button {
  border: none;
  outline: none;
}
