@import "@/assets/styles/fonts.css";
@import "@/assets/styles/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  border-radius: 0px 10px 10px 0px;
  width: 10px;
  margin-block: 10px;
  color: #ffffff;
  background: #ffffff;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: var(--background-semi-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--background-light);
}

body {
  color: #ffffff;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-dark);
}

