:root {
  --background-color: #F3F3F3;
  --background-highlighted-color: #E7E5F8;

  --primary-color: #4338CA;

  --text-color: #262F4C;
  --text-color-light: #262f4cac;
  --text-color-grey: #C3C4CD;
}
