:root {
  --background-dark: #161616;
  --background-semi-dark: #1C1C1C;
  --background-medium: #313132;
  --background-light: #454545;

  --border-color: #454545;
  --blue-highlight: #0C8CE9;
  --blue-dimmed-highlight: #002B4A;
  --green-highlight: #238636;
  --red-highlight: #D11818;

  --text-grey: #969696;
}
