:root {
  /* colors */
  --primary-color: #6f00c7;
  --secondary-color: #f80163;
  --light-grey-color: #f5f5f5;
  --dark-grey-color: #cfcfcf;
  --text-dark-color: #0d2044;

  /* light teme */
  --theme-light-background-color: #f3f3f3;
  --theme-light-primary-color: #4338ca;

  /* dark theme */
  --theme-dark-background-color: #151515;
  --theme-dark-primary-color: #212121;
  --theme-dark-secondary-color: #2c2c2c;
  --theme-dark-accent-color: #0c8ce9;
  --theme-dark-grey-color: #bbbbbb;
  --background-color: #f3f3f3;
  --background-highlighted-color: #4438ca2f;

  --primary-color: #4338ca;

  --text-color: #262f4c;
  --text-color-light: #262f4cac;
  --text-color-grey: #c3c4cd;
  --scroll-background: #7f7f7f;
}
